<% provide(:title, 'Profile') %>
<% provide(:class, 'profile') %>
  <h1><%= @user.name %> has <%= @user.challenges.count %> challenges going.</h1>
<%= render 'follow_form' if signed_in? %>
  <ul class="challenges">
    <% @user.challenges.each do |challenge| %>
      <li class="card">
        <h2><%= link_to challenge.task, :id => challenge.id, :controller => :challenges, :action => :show %></h2>
        <p><%= challenge.description %></p>
      </li>
    <% end %>
  </ul>
      <section>
        
        <%# @user ||= current_user %>
          <!-- <div class="stats">
            <a href="<%# following_user_path(@user) %>">
              <strong id="following" class="stat">
                <%# @user.followed_users.count %>
              </strong>
              following
            </a>
            <a href="<%# followers_user_path(@user) %>">
              <strong id="followers" class="stat">
                <%# @user.followers.count %>
              </strong>
              followers
            </a>
          </div> -->
      </section>