<h2>What are you working towards?</h2>

<%= form_for(@challenge) do |f| %>
  <div class="field"><%= f.label :task %><br />
  <%= f.text_field :task %></div>
  
  <div class="field"><%= f.label :description %><br />
  <%= f.text_field :description %></div>

  <div class="field"><%= f.submit "Add Challenge", :class => "button" %></div>
<% end %>
