<% provide(:title, @challenge.task) %>
<% provide(:class, 'challenge') %>
<ul>

    <li>
      <h3 class="username"><%= link_to @user.name, :id => @user.username, :controller => :users, :action => :show %><h3>
      <h1><%= @challenge.task %></a></h1>
      <p class="challenge-description"><%= @challenge.description %></p>
      <p>Posted <%= time_ago_in_words(@challenge.created_at) %> ago.</p>


          <h2><%# @updates.content %></h2>
  <%# @user ||= current_user %>
<div class="stats">
  <a href="<%# following_user_path(@user) %>">
    <strong id="following" class="stat">
      <%# @challenges.count %>
      <%= @challenge.competitors.count %>
    </strong>
    competitors
  </a>
</div>
    </li>
</ul>

<%# unless current_user.username?(@user) %>
  <div id="follow_form">
  <% if current_user.competing?(@challenge) %>
    <%= render 'leave' %>
  <% else %>
    <%= render 'join' %>
  <% end %>
  </div>
<%# end %>