<% provide(:title, @challenge.task) %>
<% provide(:class, 'challenge interior') %>
<h1><%= @challenge.task %></a></h1>
<!-- <h3 class="challenge-description"><%= @challenge.description %></h3>
<p>Posted <%= time_ago_in_words(@challenge.created_at) %> ago.</p> -->
<ul class="meta">
  <li class="username">Started by <%= link_to @user.name, :id => @user.username, :controller => :users, :action => :show %></li>
  <span>&#8226;</span>
  <li class="biking">Biking</li>
  <span>&#8226;</span>
  <li><a class="stats" href="<%# following_user_path(@user) %>"><%= @challenge.competitors.count %> competitors</a></li>
  <li>
    <%# unless current_user.username?(@user) %>
      <div id="follow_form">
      <% if current_user.competing?(@challenge) %>
        <%= render 'leave' %>
      <% else %>
        <%= render 'join' %>
      <% end %>
      </div>
    <%# end %>
  </li>
</ul>
<ul class="updates">
  
</ul>
